extends /layout

block head
	- page.title = 'Home'

block content
	.find-grid
		// SVG Sprite
		+svg-icon()
		.find-grid__result
			.find-grid__text
				h1.find-grid__text-title Find a Retailer 
				p.find-grid__text-desc Enter your address and we’ll find your closest SleepMaker retailer
			.find-grid__form
				form.find-form(action="/")
					.find-form__row
						.find-form__item
							.find-form__field
								input(type="search", name="findSearch", placeholder="Search City, Address, Postcode or Store…")
								button.find-form__submit(type="submit")
					.find-form__row
						.find-form__item
							.find-form__field
								.find-filter.js-drop-filter
									.find-filter__select.js-drop-filter-trigger(data-select="Search by range")
										.find-filter__select-title
											span.js-drop-filter-selected Search by range
										.find-filter__select-icon
									.find-filter__drop
										ul.filter-drop
											li.filter-drop__item.js-drop-filter-item
												input.filter-drop__check#range-1(type="checkbox", name="retailer", value="")
												label.filter-drop__label(for="range-1") Cocoon
											li.filter-drop__item.js-drop-filter-item
												input.filter-drop__check#range-2(type="checkbox", name="retailer", value="")
												label.filter-drop__label(for="range-2") Maison
											li.filter-drop__item.js-drop-filter-item
												input.filter-drop__check#range-3(type="checkbox", name="retailer", value="")
												label.filter-drop__label(for="range-3") Luxury
											li.filter-drop__item.js-drop-filter-item
												input.filter-drop__check#range-4(type="checkbox", name="retailer", value="")
												label.filter-drop__label(for="range-4") Miracoil
											li.filter-drop__item.js-drop-filter-item
												input.filter-drop__check#range-5(type="checkbox", name="retailer", value="")
												label.filter-drop__label(for="range-5") Lifestyle
											li.filter-drop__item.js-drop-filter-item
												input.filter-drop__check#range-6(type="checkbox", name="retailer", value="")
												label.filter-drop__label(for="range-6") Singles
											li.filter-drop__item.js-drop-filter-item
												input.filter-drop__check#range-7(type="checkbox", name="retailer", value="")
												label.filter-drop__label(for="range-7") Relax
											li.filter-drop__item.js-drop-filter-item
												input.filter-drop__check#range-8(type="checkbox", name="retailer", value="")
												label.filter-drop__label(for="range-8") Bed in a Box

						.find-form__item
							.find-form__field
								.find-filter.js-drop-filter
									.find-filter__select.js-drop-filter-trigger(data-select="Search by retailer")
										.find-filter__select-title
											span.js-drop-filter-selected Search by retailer
										.find-filter__select-icon
									.find-filter__drop
										ul.filter-drop
											li.filter-drop__item.js-drop-filter-item
												input.filter-drop__check#retailer-1(type="checkbox", name="range", value="")
												label.filter-drop__label(for="retailer-1") check 1
											li.filter-drop__item.js-drop-filter-item
												input.filter-drop__check#retailer-2(type="checkbox", name="range", value="")
												label.filter-drop__label(for="retailer-2") check 2
											li.filter-drop__item.js-drop-filter-item
												input.filter-drop__check#retailer-3(type="checkbox", name="range", value="")
												label.filter-drop__label(for="retailer-3") check 3
											li.filter-drop__item.js-drop-filter-item
												input.filter-drop__check#retailer-4(type="checkbox", name="range", value="")
												label.filter-drop__label(for="retailer-4") check 4
											li.filter-drop__item.js-drop-filter-item
												input.filter-drop__check#retailer-5(type="checkbox", name="range", value="")
												label.filter-drop__label(for="retailer-5") check 5
											li.filter-drop__item.js-drop-filter-item
												input.filter-drop__check#retailer-6(type="checkbox", name="range", value="")
												label.filter-drop__label(for="retailer-6") check 6
											li.filter-drop__item.js-drop-filter-item
												input.filter-drop__check#retailer-7(type="checkbox", name="range", value="")
												label.filter-drop__label(for="retailer-7") check 7
											li.filter-drop__item.js-drop-filter-item
												input.filter-drop__check#retailer-8(type="checkbox", name="range", value="")
												label.filter-drop__label(for="retailer-8") check 8
											li.filter-drop__item.js-drop-filter-item
												input.filter-drop__check#retailer-9(type="checkbox", name="range", value="")
												label.filter-drop__label(for="retailer-9") check 9
											li.filter-drop__item.js-drop-filter-item
												input.filter-drop__check#retailer-10(type="checkbox", name="range", value="")
												label.filter-drop__label(for="retailer-10") check 10
				.find-form__result Showing 25 results
				.tabs.js-tabs-wrapper
					.tabs__container
						.tabs__list
							.tabs__item
								a.tabs__link.js-tab-trigger.active(href="#tab-1") RETAIL STORES
							.tabs__item
								a.tabs__link.js-tab-trigger(href="#tab-2") ONLINE STORES
					.tabs__body
						.tabs__content.js-tab-content(id="tab-1")
							+shop-card({index:1})
							+shop-card({index:2})
							+shop-card({index:3})
							+shop-card({index:4})
						.tabs__content.js-tab-content(id="tab-2")
							.find-form__nothing
								.find-form__nothing-title The selected retailer does not stock this range. 
								.find-form__nothing-text Please select another retailer.
		.find-grid__map
			.map
				img(src="/img/map.png", alt="map")