.reviews-page
    .content-center
        max-width: 1020px
        h4
            font-family: 'NewzaldWeb-Bold'
            line-height: 1.65
            +r(768)
                font-size: 20px
                line-height: normal
                letter-spacing: normal
                margin-bottom: 15px
        h6
            font-family: 'CalibreWeb-Medium'
            text-transform: none
            margin-top: 35px
            font-size: 20px
            line-height: 1
            letter-spacing: 0.43px
            +r(768)
                font-size: 17px
                line-height: 1.06
                letter-spacing: 0.37px
                margin-top: 15px
        p
            color: $text
            line-height: 1.22
    .feature-wrap
        margin-top: 50px
        margin-bottom: 50px
        +r(1024)
            margin-top: 30px
