.reviews-page

    .content-center
        max-width: 1020px

        p
            color: $text
            line-height: 1.22

    .feature-wrap
        margin-top: 50px
        margin-bottom: 50px
        +r(1024)
            margin-top: 30px
