.review
    width: 100%
    max-width: 1290px
    margin: 0 auto
    padding: 60px 20px 80px
    &__head
        display: flex
        flex-flow: row wrap
    &__body
        margin-top: 40px
    &__footer
        display: flex
        .review-pagination,
        .pagination
            margin-left: auto