.complete-card
    margin-bottom: 50px
    width: 100%
    max-width: 405px
    +rm(769)
        width: calc( 33.33% - 2 * 8px)
        margin-left: 8px
        margin-right: 8px
    &__img
        line-height: 0
        margin-bottom: 23px
    &__title
        font-family: $f-1
        font-size: 22px
        font-weight: normal
        font-stretch: normal
        font-style: normal
        line-height: normal
        letter-spacing: 0.79px
        color: $main
        margin-bottom: 20px
    &__text
        color: $text
        margin-bottom: 30px
    .bttn
        min-width: 212px