{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["last 2 versions", "ios 10"]
      },
      "useBuiltIns": "entry"
    }]
  ],
  "plugins": [
    ["transform-class-properties"],
    ["transform-runtime", {
      "helpers": false,
      "polyfill": false,
      "regenerator": true,
      "moduleName": "babel-runtime"
    }]
  ]
}
