mixin rating-reviews-slider
    .rating-reviews-slider
        .swiper-container.js-rating-reviews-slider
            .swiper-wrapper
                .swiper-slide
                    +rating-reviews-card
                .swiper-slide
                    +rating-reviews-card
                .swiper-slide
                    +rating-reviews-card