mixin rating-reviews-slider
    .rating-reviews-slider
        .swiper-container.js-rating-reviews-slider
            .swiper-wrapper
                .swiper-slide
                    +rating-reviews-card({star:'five'})
                .swiper-slide
                    +rating-reviews-card({star:'two'})
                .swiper-slide
                    +rating-reviews-card({star:'four'})
            .swiper-nav
                .swiper-button-prev.js-rating-reviews-slider-prev
                    .swiper-button-icon
                        +icon('arrow-right')(width="24" height="24" viewBox="0 0 24 24")
                .swiper-button-next.js-rating-reviews-slider-next
                    .swiper-button-icon
                        +icon('arrow-right')(width="24" height="24" viewBox="0 0 24 24")