mixin rating-reviews-card
    .rating-reviews-card
        .rating-reviews-card__initials
            span JD
        .rating-reviews-card__stars
            img(src="../img/review-stars.svg", alt="review stars")
        .rating-reviews-card__title Lorem ipsum dolor sit amet
        p.rating-reviews-card__text Lorem ipsum dolor sit amet, tellus id, vestibulum habitasse iaculis, dolor nunc, lacinia maecenas vulputate suspendisse consequat ut, dui sed blandit. Vitae dolores quam, leo nullam arcu etiam, ac vitae eu neque, tellus .Lorem ipsum dolor sit amet.
        .rating-reviews-card__name Jane Doe