.footer
    background: #2e1a47
    padding: 30px 20px 30px
    color: $white
    &__header
        margin-bottom: 50px
    &__logo
        margin-right: auto
        width: 40%
        +r(768)
            width: 70%
            max-width: 400px
            margin-bottom: 40px
    &__subscription
        width: 50%
        padding-left: 30px
        +r(768)
            width: 100%
            padding: 0
    &__main
        display: flex
        justify-content: space-between
        flex-flow: row wrap
        +r(1024)
            justify-content: flex-start
    &__basement
        border-top: solid 1px rgba(#979797, .36)
        padding-top: 16px
        margin-top: 60px
        +r(1024)
            margin-top: 45px
    .accordeon
        $this: '.accordeon'
        display: block
        text-align: left

    .accordeon__title
        width: 100%
        display: flex
        align-items: center
        // justify-content: space-between
        cursor: pointer
        position: relative
        &.active
            .accordeon__title-icon
                transform: rotate(90deg)
        &.disable
            pointer-events: none
            .accordeon__title-icon
                display: none
        &-icon
            flex-shrink: 0
            display: inline-flex
            justify-content: center
            align-items: center
            width: 30px
            height: 30px
            transition: transform .2s
            transform: rotate(0)
            font-size: 0
            svg
                width: 100%
                height: 100%
        svg:not([id])
            transition: transform .2s
            will-change: transfrom
        &:hover
            svg:not([id])
                transform: scale(1.1) skew(0.01deg)

    .accordeon__body
        will-change: height
        transition: height .3s
        overflow: hidden
        &.active

    .accordeon-wrap
        display: block

.footer-container
    max-width: 1240px
    margin: 0 auto

.footer-row
    display: flex
    flex-flow: row wrap