extends /layout

block head
    - page.title = 'G FORM'
    - page.class = ['G FORM']

block content
    // для тестирования
    link(rel="stylesheet" media="all" href= "../css/formsmain.min.css")
    link(rel="stylesheet" media="all" href= "../css/custom.css")

    .container
        <div class="gf_browser_chrome gform_wrapper" id="gform_wrapper_52"><form method="post" enctype="multipart/form-data" target="gform_ajax_frame_52" id="gform_52" action="/collections-feb-2018/6854-2">
        <div class="gform_heading">
        <h3 class="gform_title">Sleep selector popup</h3>
        <span class="gform_description"></span>
        </div>
        <div class="gform_body"><ul id="gform_fields_52" class="gform_fields top_label form_sublabel_below description_below"><li id="field_52_1" class="gfield field_sublabel_below field_description_below gfield_visibility_visible"><label class="gfield_label" for="input_52_1"></label><div class="ginput_container ginput_container_text"><input name="input_1" id="input_52_1" type="text" value="" class="medium" tabindex="49" placeholder="Full Name*" aria-invalid="false"></div></li><li id="field_52_2" class="gfield field_sublabel_below field_description_below gfield_visibility_visible"><label class="gfield_label" for="input_52_2"></label><div class="ginput_container ginput_container_email">
        <input name="input_2" id="input_52_2" type="text" value="" class="medium" tabindex="50" placeholder="Email Address*" aria-invalid="false">
        </div></li><li id="field_52_3" class="gfield field_sublabel_below field_description_below gfield_visibility_visible"><label class="gfield_label" for="input_52_3"></label><div class="ginput_container ginput_container_textarea js-text-limit"><textarea name="input_3" id="input_52_3" class="textarea medium" tabindex="51" placeholder="Tell us in 300 characters or less why you should win this competition and what you would buy with the prize?*" aria-invalid="false" rows="10" cols="50" maxlength="300"></textarea></div></li><li id="field_52_4" class="gfield field_sublabel_below field_description_below gfield_visibility_visible"><label class="gfield_label _gfield-select-label"></label><div class="ginput_container ginput_container_checkbox"><ul class="gfield_checkbox" id="input_52_4"><li class="gchoice_52_4_1">
        <input name="input_4.1" type="checkbox" value="To enter this competition you must accept the Terms and Conditions" id="choice_52_4_1" tabindex="52">
        <label for="choice_52_4_1" id="label_52_4_1">To enter this competition you must accept the Terms and Conditions</label>
        </li><li class="gchoice_52_4_2">
        <input name="input_4.2" type="checkbox" value="Yes, I am happy to receive any upcoming SleepMaker promotions, special offers, competitions or handy tips on all things sleep. View our Privacy Policy" id="choice_52_4_2" tabindex="53">
        <label for="choice_52_4_2" id="label_52_4_2">Yes, I am happy to receive any upcoming SleepMaker promotions, special offers, competitions or handy tips on all things sleep. View our Privacy Policy</label>
        </li></ul></div></li>
        </ul></div>
        <div class="gform_footer top_label"> <input type="submit" id="gform_submit_button_52" class="gform_button button" value="Submit" tabindex="54" onclick="if(window[&quot;gf_submitting_52&quot;]){return false;}  window[&quot;gf_submitting_52&quot;]=true;  " onkeypress="if( event.keyCode == 13 ){ if(window[&quot;gf_submitting_52&quot;]){return false;} window[&quot;gf_submitting_52&quot;]=true;  jQuery(&quot;#gform_52&quot;).trigger(&quot;submit&quot;,[true]); }"> <input type="hidden" name="gform_ajax" value="form_id=52&amp;title=1&amp;description=1&amp;tabindex=49">
        <input type="hidden" class="gform_hidden" name="is_submit_52" value="1">
        <input type="hidden" class="gform_hidden" name="gform_submit" value="52">

        <input type="hidden" class="gform_hidden" name="gform_unique_id" value="">
        <input type="hidden" class="gform_hidden" name="state_52" value="WyJbXSIsIjkxODY1MTU3YmZkYWViM2Q5YjJlMDdkMzExYTNiZjY2Il0=">
        <input type="hidden" class="gform_hidden" name="gform_target_page_number_52" id="gform_target_page_number_52" value="0">
        <input type="hidden" class="gform_hidden" name="gform_source_page_number_52" id="gform_source_page_number_52" value="1">
        <input type="hidden" name="gform_field_values" value="">

        </div>
        </form>
        </div>