mixin complete-card(props={title: 'title'})
    .complete-card
        .complete-card__img
            +img(`../img/complete-card/${props.img}`, 'png')
        .complete-card__title!= props.title
        p.complete-card__text Lorem ipsum dolor sit amet, tellus id, vestibulum habitasse iaculis, dolor nunc, lacinia maecen.
        a.bttn(href="#") Shop now