include /data
include /helpers/mixins
include /blocks/mixins
include /meta/mixins

doctype html

html
	head
		-
			const page = {
				title: 'Title',
				//- url: String,
				ogType: 'website',
				ogImage: '/img/social.jpg',
				ogImageWidth: 1200,
				ogImageHeight: 630,
				//- description: '',
				//- site_name: '',
				//- admins: ''
				themeColor: '#ffffff',
				class: [],
				hasVueTemplates: false
			};

		block head

		+head(page)

	body.body(class= page.class)
		// SVG Sprite
		+svg-icon()

		block header
			// Header
			include /blocks/header

		// Content
		.main
			block content

		block footer
			// Footer
			+footer
		// Main scripts
		script(defer type="text/javascript" src="../js/app.js")