mixin review-card(props={})
    .review-card
        .review-card__head
            .review-card__initials AB
            .review-card__info
                .review-card__name Amber Burrows
                .review-card__local New Zealand
            time.review-card__date 12/12/2012
        .review-card__body
            .review-card__rating
                //- img(src="../img/rating-stars.svg", alt="review stars")
                +rating(class=`rating--${props.star}`)
            .review-card__title Love this product
            .review-card__text
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vulputate vel ex id ultricies. Nam gravida risus non erat feugiat dapibus. Nunc rhoncus ut enim sit amet temxpus. In lobortis justo tempus consequat mollis. Praesent rhoncus dapibus sagittis. Vestibulum sed fermentum nisl, at venenatis lacus. Vivamus quis leo at nisl commodo gravida. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vulputate vel ex id ultricies. Nam gravida risus non erat feugiat dapibus.
        .review-card__footer
            .review-card__vote
                .review-card__vote-title Was this review helpful?
                a(href="#").review-card__vote-like
                    span.review-card__vote-icon
                        +icon('thumb')(width="16" height="16" viewBox="0 0 16 16")
                    span.review-card__vote-value 0
                a(href="#").review-card__vote-dislike
                    span.review-card__vote-icon
                        +icon('thumb')(width="16" height="16" viewBox="0 0 16 16")
                    span.review-card__vote-value 0