.bg-decor
    background: $main
    color: $white
    padding: 80px 20px
    max-width: 1250px
    margin: 80px auto
    +r(768)
        margin: 50px auto
    .content-center
        max-width: 600px
    .bttn
        min-width: 220px
    .content-center,
    .content
        color: $white