.bttn
	$this: &

	display: inline-flex
	align-items: center
	justify-content: center
	position: relative
	padding: 14px 20px
	cursor: pointer
	text-align: center
	border-radius: 4px
	font-weight: 500
	line-height: normal
	font-size: 16px
	text-decoration: none
	white-space: nowrap
	letter-spacing: 0.5px
	box-sizing: border-box
	transition: all .3s
	pointer-events: auto
	border: solid 1px $main
	font-family: $f-1
	text-transform: uppercase
	color: $main
	+r(768)
		font-size: 13px

	&:hover:active
		transform: scale(0.98)

	&:hover
		background: $main
		color: $white

	&__icon
		display: block
		margin: 0 -10px 0 10px
		width: 24px
		height: 24px
		overflow: hidden

		svg
			width: 24px
			height: 24px
			fill: rgba(black, 0)
			stroke: currentColor
	&--reverse
		color: $main
		border: solid 1px $white
		background: $white
		&:hover
			background: $main
			color: $white
	&--disable
		color: $white
		border-color: $text
		pointer-events: none
		background: $text