.bttn
	$this: &

	display: inline-flex
	align-items: center
	justify-content: center
	position: relative
	padding: 14px 20px
	cursor: pointer
	text-align: center
	border-radius: 4px
	font-weight: 500
	line-height: normal
	font-size: 16px
	text-decoration: none
	white-space: nowrap
	letter-spacing: 0.5px
	box-sizing: border-box
	transition: all .3s
	pointer-events: auto
	border: solid 1px $main
	font-family: $f-1
	text-transform: uppercase
	color: $main
	+r(768)
		font-size: 13px

	&:hover:active
		transform: scale(0.98)

	&:hover
		background: $main
		color: $white

	&__icon
		display: block
		margin: 0 -10px 0 10px
		width: 24px
		height: 24px
		overflow: hidden

		svg
			width: 24px
			height: 24px
			fill: rgba(black, 0)
			stroke: currentColor
	&--reverse
		color: $main
		border: solid 1px $white
		background: $white
		&:hover
			background: $main
			color: $white
			border-color: $white
	&--bg
		color: $white
		background: $main
		&:hover
			background: $white
			color: $main
			border-color: $main
	&--border
		color: $white
		background: $main
		border: solid 1px $white
		&:hover
			background: $white
			color: $main
			border-color: $white
	&--disable
		color: $white
		border-color: $text
		pointer-events: none
		background: $text

.bttn-row
	display: flex
	flex-flow: row wrap
	justify-content: center
	.bttn
		margin: 5px 15px
		min-width: 220px
		+r(768)
			margin: 10px
		+r(600)
			width: 100%


.swiper-nav
	position: absolute
	width: 100%
	left: 0
	bottom: 50%
	transform: translateY(50%)
	z-index: 1
	display: flex
	justify-content: space-between
	pointer-events: none
	padding: 0 20px
	+r(650)
		padding: 0 10px

.swiper-button-prev,
.swiper-button-next
	width: 53px
	height: 53px
	background: $main
	border-radius: 50%
	cursor: pointer
	transition: opacity .3s
	position: static
	margin: 0
	pointer-events: all
	font-size: 0
	color: $white
	display: flex
	+r(768)
		width: 37px
		height: 37px
	&.swiper-button-disabled
		opacity: 0
.swiper-button-next
	.swiper-button-icon
		margin-left: 8%
.swiper-button-prev
	.swiper-button-icon
		transform: scaleX(-1)
		margin-right: 8%
.swiper-button-icon
	width: 90%
	height: 90%
	margin: auto
	font-size: 0
	svg
		width: 100%
		height: 100%

.under-link
	display: inline-block
	font-weight: bold
	font-family: $f-1
	font-size: 16px
	font-weight: normal
	font-stretch: normal
	font-style: normal
	line-height: 1.25
	letter-spacing: 1.07px
	position: relative
	text-decoration: none
	color: $main
	cursor: pointer
	&::after
		content: ''
		display: block
		width: 100%
		height: 1px
		background: currentColor
		position: absolute
		left: 0
		bottom: 0
		transform: scaleX(1)
		transition: transform .2s
	&:hover
		&::after
			transform: scaleX(0)