.video-decor
    width: 100%
    max-width: 1440px
    margin: 0 auto
    background-color: #ccc
    color: $main
    position: relative
    z-index: 1
    text-align: center
    font-size: 0
    &__action
        object-fit: cover
        min-height: 350px
        +r(768)
            position: absolute
            z-index: -1
            width: 100%
            height: 100%
            left: 0
            top: 0
    &__info
        z-index: 1
        display: flex
        align-items: center
        justify-content: center
        color: $white
        padding: 60px 20px
        +rm(769)
            padding: 20px
            position: absolute
            left: 0
            top: 0
            width: 100%
            height: 100%
        .content-center
            color: inherit

.video-decor-left
    width: 100%
    max-width: 1440px
    margin: 0 auto
    position: relative
    z-index: 1
    font-size: 0
    &__action
        object-fit: cover
        min-height: 350px
        +r(768)
            position: absolute
            z-index: -1
            width: 100%
            height: 100%
            left: 0
            top: 0
    &__info
        z-index: 1
        color: $white
        padding: 60px 20px
        max-width: 615px
        margin-left: 70px
        display: flex
        align-items: center
        +r(768)
            margin-left: 0
        +rm(769)
            padding: 20px
            position: absolute
            left: 0
            top: 0
            width: 100%
            height: 100%
    .content
            color: inherit