mixin svg-icon(props = {})
	.svg-icon(style="display: none;")
		//- inject:svg
		<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><symbol id="close"><path d="M8 6.933L14.36.58a.75.75 0 011.06 1.062L9.054 8l6.366 6.359a.75.75 0 01-1.06 1.061L8 9.066 1.64 15.42a.75.75 0 11-1.06-1.06L6.945 8 .58 1.642A.75.75 0 011.64.579z"/></symbol><symbol id="down_arrow"><path fill="currentColor" d="M11.045.66a.507.507 0 01.704.729L6.346 6.608a.506.506 0 01-.704 0L.244 1.388A.506.506 0 11.948.66l5.046 4.88z"/></symbol></svg>
		//- endinject