mixin footer
    footer.footer
        .footer-container
            include footer-breadcrumb
            .footer__header
                .footer-row
                    .footer__logo
                        include footer-logo
                    .footer__subscription
                        include footer-subscription
            .footer__main.js-acc-wrap
                include footer-nav
            .footer__basement
                .footer-row
                    include footer-basement
                include footer-copy