ul.footer-basement
    li.footer-basement__item
        a.footer-basement__link(href="#") Sitemap
    li.footer-basement__item
        a.footer-basement__link(href="#") Terms & Conditions
    li.footer-basement__item
        a.footer-basement__link(href="#") Privacy Policy
ul.footer-basement
    li.footer-basement__item
        a.footer-basement__link(href="#") SleepMaker Commercial
    li.footer-basement__item
        a.footer-basement__link(href="#") SleepMaker China
    li.footer-basement__item
        a.footer-basement__link(href="#") Trade Promotion