.footer-subscription
    form.footer-subscription__form
        input.footer-subscription__input(type="email", name="", placeholder="Sign up to our newsletter…")
        button.footer-subscription__bttn(type="submit")
            +icon('arrow-long')(width="20" height="15" viewBox="0 0 20 15")