//- include mixins_file
include shop-card
include special-card

include comparison-card
include swap-card
include shift-card
include feature-card
include rating-reviews/mixins
include complete-card/mixins
include footer/mixins
include social-list
include sleepmaker-advance/mixins
include review/mixins