mixin rating
    ul.rating&attributes(attributes)
        li.rating__item
            +icon('star')(width="22" height="22" viewBox="0 0 22 22")
        li.rating__item
            +icon('star')(width="22" height="22" viewBox="0 0 22 22")
        li.rating__item
            +icon('star')(width="22" height="22" viewBox="0 0 22 22")
        li.rating__item
            +icon('star')(width="22" height="22" viewBox="0 0 22 22")
        li.rating__item
            +icon('star')(width="22" height="22" viewBox="0 0 22 22")