mixin special-card
    .special-card
        .special-card__head
            img.special-card__head-icon(src="/img/icons/special-card-dollar.png", alt="dollar")
            span.special-card__head-title 20% Off Swisstek
        .special-card__desc
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vulputate vel ex id ultricies. Nam gravida risus non erat 
        .special-card__footer
            a.special-card__footer-link(href="#") SEE THE RANGE
            .special-card__footer-date Offer ends 7th January 2021