mixin swap-card
    .swap-card
        .swap-card__content.swap-card__content--center
            .swap-card__content-inner
                h5.swap-card__title Find your mattress
                p.swap-card__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vulputate vel ex id ultricies. Nam gravida risus non erat feugiat dapibus.Nunc rhoncus ut enim sit amet tempus. n lobortis justo tempus consequat mollis. Praesent rhoncus dapibus sagittis.
                a.bttn.bttn--reverse(href="#") Take the quiz
        .swap-card__img
            +img('../img/swap-card/swap-card', 'png')