// COLORS
$red: #FE330A;
$grey-38: #383838;
$grey-93: #939393;
$grey-b9: #B9B9B9;
$grey-cc: #cccccc;
$grey-d7: #D7D7D7;
$grey-ea: #eaeaea;
$white: white;
$black: black;
$text-color: $black;
$text-color--light: mix(white, $text-color, 60%);
$bg-color: $white;
$accent: $red;
// END COLORS

$main: #2e1a47